
.skills-item {
    position: relative;
    margin-bottom: 25px;
  }
  .skills-item .skills-header {
    position: relative;
    margin-bottom: 15px;
  }
  .skills-item .skills-header .skills-title {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
    color: var(--blackColor);
    font-family: var(--fontFamily2);
  }
  .skills-item .skills-header .skills-percentage {
    position: absolute;
    right: 0;
    top: -2px;
    color: var(--mainColor);
    font-size: 14px;
    font-weight: 400;
  }
  .skills-item .skills-bar {
    position: relative;
    width: 100%;
  }
  .skills-item .skills-bar .bar-inner {
    position: relative;
    width: 100%;
    border-radius: 30px;
    border-top: 2px solid #364d55;
    border-bottom: 2px solid #364d55;
  }
  .skills-item .skills-bar .bar-inner .bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 4px;
    background: var(--mainColor);
    transition: all 2000ms ease !important;
    border-radius: 30px;
    margin-top: -2px;
    z-index: 9;
  }